extends ../common/layout.pug
block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=comment.avatar, width='20', height='20', alt='')
              b.publication__list-name= `${comment.user.firstName} ${comment.user.lastName}`
              time.publication__item-time(datetime= comment.createdAt)= dayjs(comment.createdAt).format('DD.MM.YYYY HH:mm')
            a.publication__item-text(href=`/articles/${comment.articles.id}`)= comment.articles.title
            p.publication__text-strong= comment.text
            a(href=`/my/comments/delete/${comment.id}`)
              button.publication__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
