extends ../common/layout.pug
block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a.popup__button.button.button--popup-close(href='/', aria-label='Закрыть окно')
          | Закрыть
          | окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--active.popup__tab--register
            button.popup__tab-switcher.button(type='button') Регистрация
          li.popup__tab.popup__tab--log-in
            a(href="/login")
              button.popup__tab-switcher.button(type='button') Войти
        .popup__form.popup__form--active.form.form--register
          form(action='/register', method='post')
            .form__field
              label
                input(
                  type='email',
                  placeholder='Электронная почта',
                  name='email',
                  value=user.email,
                  required=''
                )
            +errorText(errorMessage.email)

            .form__field
              label
                input(
                  type='text',
                  placeholder='Имя',
                  name='firstName',
                  value=user.firstName,
                  required=''
                )
            +errorText(errorMessage.firstName)

            .form__field
              label
                input(
                  type='text',
                  placeholder='Фамилия',
                  name='lastName'
                  value=user.lastName
                )
            +errorText(errorMessage.lastName)

            .form__field
              label
                input(
                  type='password',
                  placeholder='Пароль',
                  name='password',
                  value=user.password
                  required=''
                )
            +errorText(errorMessage.password)

            .form__field
              label
                input(
                  type='password',
                  placeholder='Повтор пароля',
                  name='repeatPassword',
                  value=user.repeatPassword
                  required=''
                )
            +errorText(errorMessage.repeatPassword)

            .form__image-loader
              a.form__avatar.avatar
                img(
                  src='img/icons/smile.svg',
                  name='avatar',
                  alt='аватар пользователя',
                  value=user.avatar
                )
              label
                input.visually-hidden(type='file', name="picture")
                | Загрузить фото профиля
            +errorText(errorMessage.avatar)

            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
      .modal__overlay
